// COMPONENTS
// ----------
// For smaller components, there is the components/ folder. While layout/ is macro (defining the 
// global wireframe), components/ is more focused on widgets. It contains all kind of specific 
// modules like a slider, a loader, a widget, and basically anything along those lines. There are 
// usually a lot of files in components/ since the whole site/application should be mostly composed 
// of tiny modules.

// https://sass-guidelin.es/#architecture

// ------------------------------------------------------------------------------------------------------

.info {
    display: flex;
    align-items: flex-end;
    margin: 2rem 0;
    

    i {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-height: 3rem;
        min-width: 3rem;
        border-radius: 50%;
    
        margin: 1rem 1rem 0 0;
        border: 1px solid $color-background;
        color: $color-primary;
        font-size: 1.6rem;
        font-weight: bold;
    }
}

